* {
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-content: center;
    background-image: url("../img/1.jpg");
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
}

.square{
    width: 555px;
    background-color: white;
    border-radius: 4px 4px 4px 4px;
}

.square_top {
    font-family: 'Roboto', sans-serif;
    width: 555px;
    height: 120px;
    padding: 10px 25px 15px 25px;
    border-radius: 4px 4px 0 0;
}

.square_bottom {
    width: 555px;
    padding: 25px 25px 30px 25px;
    background-color: #EEE;
    border-radius: 0 0 4px 4px;
    text-align: left;
}

input[type='text'], select {
    display: block;
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #f8f8f8;
    border: 3px solid #ddd;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #888;
    border-radius: 4px;
    margin-bottom: 15px;
}

input:focus {
    outline: none;
    border: 3px solid #ccc;
}

select:focus {
    outline: none;
    border: 3px solid #ccc;
}

.legal_select {
    display: flex;
}

.legal_select div:first-child{
    margin-top: 10px;
    margin-right: 20px;
}

button {
    min-width: 105px;
    height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #19b9e7;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
    margin-right: 15px;
    opacity: 1;
}

button:hover {
    opacity: 0.5;
}

input[type='text'].error_style {
    border: 3px solid #19b9e7;
}

select.error_style {
    border: 3px solid #19b9e7;
}

h1 {
    color: white;
}